<nav class="bg-dark">
  <div class="d-flex justify-content-center">
    <i class="fa-solid fa-database fs-3 me-2" style="color: #ffffff;"></i>
    <h3 routerLink="/" class="text-white text-center fw-light">Proyecto BD1</h3>
  </div>
    <div class="mt-4">
      <ul class="navbar-nav ms-auto mb-2">
        <li class="nav-item mx-2">
          <a routerLinkActive="active" routerLink="/vuelo" class="nav-link text-decoration-none">Gestionar Vuelo</a>
        </li>
        <hr class="w-100 my-1" style="border-color: rgb(188, 188, 188); border-width: 1px;">
        <li class="nav-item mx-2">
          <a routerLinkActive="active" routerLink="/pasajero" class="nav-link text-decoration-none">Gestionar Pasajero</a>
        </li>
        <hr class="w-100 my-1" style="border-color: rgb(188, 188, 188); border-width: 1px;">
        <li class="nav-item mx-2">
          <a routerLinkActive="active" routerLink="/reserva" class="nav-link text-decoration-none">Gestionar Reserva</a>
        </li>
      </ul>
    </div>
</nav>
