<div class="m-5">
    <h2 class="text-center fw-normal my-4">Modificar Pasajero</h2>
    <div class="bg-white shadow">
        <div class="m-5">
            <div class="py-5">
                <form *ngIf="pasajero" (ngSubmit)="actualizarDatos()">
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <mat-form-field class="w-50">
                                <mat-label>Nombre del pasajero</mat-label>
                                <input 
                                    [(ngModel)]="pasajero.nombre" 
                                    [ngModelOptions]="{standalone: true}"
                                    type="text" 
                                    placeholder="Digite el nombre del pasajero"
                                    matInput
                                >
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-form-field class="w-50">
                                <mat-label>Pasaporte del pasajero</mat-label>
                                <input 
                                    [(ngModel)]="pasajero.pasaporte" 
                                    [ngModelOptions]="{standalone: true}"
                                    type="text" 
                                    placeholder="Digite el pasaporte del pasajero"
                                    matInput
                                >
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-form-field class="w-50 mb-2">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input 
                                    [(ngModel)]="pasajero.fecha_nacimiento"
                                    [ngModelOptions]="{standalone: true}"
                                    matInput  
                                    [matDatepicker]="picker"
                                >
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button 
                            mat-raised-button class="fw-normal me-4" 
                            style="background-color: #ffc935;"
                            (click)="volverAPasajeros()"
                        >
                            Volver
                        </button>
                        <button 
                            mat-raised-button class="fw-normal" 
                            style="background-color: #ffc935;"
                        >
                            Modificar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>